@import url(var.css);

.proj-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* -- */

.proj-item {
    position: relative;
    margin: var(--pad-body) 0;
}

/* -- */

.proj-info {
    color: var(--c-txt-2);
    margin-bottom: var(--pad);
}

.proj-img img {
    line-height: 0;
    box-shadow: calc(var(--container-bs-size)*(-1)) var(--container-bs-size) var(--container-bs-c);
}

/* -- */

.proj-item-1 {
    left: -20vw;
    & img {
        width: 50vw;
    }
}
.proj-item-2 {
    left: 25vw;
    & img {
        width: 20vw;
    }
}

@media (min-width: 1000px) {
    .proj-item-1 {
        & img {
            width: 500px;
        }
    }
    .proj-item-2 {
        & img {
            width: 200px;
        }
    }
}