@import url(var.css);

/* LANG */
.lang-item-1 {
    right: 10vw;
}

.lang-item-2 {
    right: 5vw;
}

/* INDEX */
.index-item img {
    width: 100%;
}

.index-info {
    color: var(--c-txt-2);
    margin-bottom: var(--pad);
    white-space: nowrap;
}

.index-img img {
    line-height: 0;
    box-shadow: calc(var(--container-bs-size)*(-1)) var(--container-bs-size) var(--container-bs-c);
}

/* -- */

.index-item-1 {
    left: -20vw;
    width: clamp(150px, 50vw, 500px);
}
.index-item-2 {
    left: 25vw;
    width: clamp(60px, 20vw, 200px);
}
