@import url(var.css);

.about-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* -- */

.about-grid-1 {
    background-color: rgb(255, 249, 241);
    & h1,h2,h3,b1,b2,b3 {
        background-color: transparent;
    }
}

/* -- */

.about-item-1 {
    width: 70vw;
    left: -10vw;
}

.about-item-2 {
    width: 50vw;
    left: 20vw;
}

.about-item-3 {
    width: 50vw;
    left: -10vw;
}


@media (min-width: 1000px) {
    .about-item-1 {
        width: 500px;
        left: -20vw;
    }
    .about-item-2 {
        width: 300px;
    }
    .about-item-3 {
        width: 400px;
    }
    
}