@import url(var.css);

.about-grid-1 {
    background-color: rgb(255, 249, 241);

    & h1,h2,h3,b1,b2,b3 {
        background-color: transparent;
    }
}

/* -- */

.about-item-1 {
    width: clamp(150px, 50vw, 500px);
    left: -10vw;
}

.about-item-2 {
    width: clamp(150px, 60vw, 600px);
    left: 15vw;
}

.about-item-3 {
    width: clamp(150px, 60vw, 300px);
    left: -10vw;
}
