:root {
    /* animations */
    --def-duration: 0.5s;

        
    /* bg */
    --c-bg-1: white;

    /* dots */
    --dot-color: black;
    --dot-size: 0.15vw;
    --dot-space: 1.5vw;
    
    /* text */
    --c-txt-1: black;
    --c-txt-2: rgb(255, 32, 32);

    /* paddings */
    --pad: 10px;
    --pad-body: 5vw;
    --marg: 60px;

    /* container */
    --container-bs-c: rgb(133, 133, 133);
    --container-bs-size: 5px;
    --container-border-c: black;
    --container-border-size: 1px;
    --container-bg: white;
}